<p id="notice"><%= notice %></p>

<p>
  <b><%= @todo_file.filename%></b>
</p>

  <%= @todo_file.getChanges(Date.today, Date.tomorrow).first[:diff].to_s(:html).html_safe%>



<%= link_to 'Edit', edit_todo_file_path(@todo_file) %>
