<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Daily todo list for <%= @user.email %></h1>
 
    <% @tasks.each do |task| %>
      <div><%= task.task %></div>
    <% end %>
  </body>
</html>

