<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Daily notes for <%= @user.email %> - <%=Date.yesterday%></h1>
 
    <%= render "task_folder/summary_notes", :changed_folders => @summary%>
  </body>
</html>

