<div class="container">
<div class="row">
  <div class="leader span12">
  <h1>Socialize your notes</h1>
  </div>
</div>
<div class="row">
<div class="span4 feature-box highlight-box">
  <h2>Create lots of notes</h2>
  <div class="feature-description">
    <ul class="feature-list">
      <li>Use files and folders</li>
      <li>Sync to Dropbox</li>
    </ul>
  </div>
</div>
  <div class="span4 feature-box highlight-box">
   <h2>Stay focused</h2>
    <div class="feature-description">
      <ul class="feature-list">
        <li>Simple interface</li>
        <li>Smart tasks and events</li>
       <li>Notes at your fingertips</li>
      </ul>
    </div>
  </div>
  <div class="span4 feature-box highlight-box">
   <h2>Work together</h2>
    <div class="feature-description">
    <ul class="feature-list">
      <li>Automatic presentations</li>
      <li>Explore public notes</li>
      <li>Reply in context</li>
    </ul>
     </div>
  </div>
</div>
  <div class="row">
    <div class="explore-row"><a class="btn btn-success btn-large" href="<%=new_registration_path(resource_name)%>">Create an account</a></div>
  </div>
</div>