<div><a class="brand" href="/"><span class="undo-un">un</span><span class="undo-do">do</span><span class="undo-io">.io</span></a></div>

<h3><%= link_to "Log in", new_session_path(resource_name), :rel=>"external" %></h3>

