<% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      <% else %>
      <%= link_to('Login', new_user_session_path)  %>  
<% end %>
<h1>All my todos</h1>
<% @tasks.each do |task| %>
  <div><%= task.task %></div>
<% end %>

