<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;z-index:9999" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
<div class="leader">
  <h1>Socialize your notes</h1>
</div>
<div style="margin-left:auto;margin-right:auto;max-width:17in;">
      <div class="note-box-3x5">
        <div class="undo-new-header">Simple</div>
        <div class="feature-description">
          <ul class="feature-list">
            <li>Distraction-free user interface</li>
            <li>Work online or offline</li>
            <li>Painless organization</li>
            <li>Sync to Dropbox</li>
          </ul>
        </div>
      </div>
    <div class="note-box-3x5">
      <div class="undo-new-header">Social</div>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Get meaningful feedback</li>
          <li>Share via email or web</li>
          <li>Effortless slideshows</li>
          <li>Discover, copy and edit notes</li>
        </ul>
      </div>
    </div>
    <div class="note-box-3x5">
      <div class="undo-new-header">Smart</div>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Task and event detection</li>
          <li>Automatic formatting</li>
          <li>All your notes, at your fingertips</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="clear:both"></div>
<div class="leader">
  <h2>Create, shape and share your notes.</h2>
</div>
<div>
  <div class="explore-row"><a class="btn btn-success btn-large" href="<%=new_registration_path(resource_name)%>">Create a note</a></div>
</div>
