<div class="container">
  <div class="row">
    <div class="leader span12">
      <div class="row leader">
        <h1>Get feedback for your projects</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 feature-box highlight-box">
      <h2>Social</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Connect with similar people</li>
          <li>Meaningful and constructive feedback</li>
          <li>Discover, copy and tweak projects</li>
          <li>Share everywhere</li>
        </ul>
      </div>
    </div>
    <div class="span4 feature-box highlight-box">
      <h2>Simple</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Distraction-free user interface</li>
          <li>Work online or offline</li>
          <li>Painless organization</li>
          <li>Sync to Dropbox</li>
        </ul>
      </div>
    </div>
    <div class="span4 feature-box highlight-box">
      <h2>Smart</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Task and event detection</li>
          <li>Effortless slideshows</li>
          <li>Automatic formatting</li>
          <li>Search and browse at your fingertips</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row leader">
    <h2>undo.io is a community for your projects.</h2>
  </div>
  <div class="row">
    <div class="explore-row"><a class="btn btn-success btn-large" href="<%=new_registration_path(resource_name)%>">Create an account</a></div>
  </div>
  <div style="margin-top:50px;" class="row">
    <div class="span4 feature-box">
      <h2>Ideas</h2>
      <div class="feature-description">
          <h3><a href="/public/ideas">Explore ideas</a></h3>
          <p>Products,services,society</p>
      </div>
    </div>
    <div class="span4 feature-box">
      <h2>Guides</h2>
      <div class="feature-description">
          <h3><a href="/public/guides">Explore guides</a></h3>
          <p><a href="/public/recipes">Recipes</a>, skills, how-to</p>
      </div>
    </div>
    <div class="span4 feature-box">
      <h2>Self improvement</h2>
      <div class="feature-description">
          <h3><a href="/public/improve">Explore self improvement</a></h3>
          <p>organization, productivity, inspiration</p>
      </div>
    </div>
  </div>

</div>
