<div class="container">
  <div class="row">
    <div class="leader span12">
      <div class="row leader">
        <h1>Keep your notes in text files</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4 feature-box highlight-box">
      <h2>Find</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Browse folders recursively</li>
          <li>Find related notes</li>
          <li>#tags and search</li>
        </ul>
      </div>
    </div>
    <div class="span4 feature-box highlight-box">
      <h2>Parse</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Event recognition and reminders</li>
          <li>Effortless slideshows from your notes</li>
          <li>Simple todo lists</li>
        </ul>
      </div>
    </div>
    <div class="span4 feature-box highlight-box">
      <h2>Sync</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Connect to Dropbox</li>
          <li>Create your notes in any editor</li>
          <li>View or edit online or offline</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="explore-row"><a class="btn btn-success btn-large" href="<%=new_registration_path(resource_name)%>">Create an account</a></div>
  </div>

</div>
