<div class="container">
<div class="row">
  <div class="leader span12">
 <div class="row leader">
   <h1>undo.io is an online notepad</h1>
</div>
  </div>
</div>
<div class="row">
<div class="span4 feature-box highlight-box">
  <h2>Simple</h2>
  <div class="feature-description">
    <ul class="feature-list">
      <li>Distraction-free user interface</li>
      <li>Work online or offline</li>
      <li>Painless organization</li>
      <li>Sync to Dropbox</li>
    </ul>
  </div>
</div>
<div class="span4 feature-box highlight-box">
  <h2>Social</h2>
  <div class="feature-description">
    <ul class="feature-list">
      <li>Get meaningful feedback</li>
      <li>Share via email or web</li>
      <li>Effortless slideshows</li>
      <li>Discover, copy and edit notes</li>
    </ul>
  </div>
</div>
<div class="span4 feature-box highlight-box">
  <h2>Smart</h2>
  <div class="feature-description">
    <ul class="feature-list">
      <li>Task and event detection</li>
      <li>Automatic formatting</li>
      <li>Search and browse at your fingertips</li>
    </ul>
  </div>
</div>
</div>
<div class="row leader">
   <h2>Create, share and shape your ideas.</h2>
 </div>
  <div class="row">
    <div class="explore-row"><a class="btn btn-success btn-large" href="<%=new_registration_path(resource_name)%>">Create an account</a></div>
  </div>
</div>
