<div class="container">
  <div class="row">
<h1>Please check your email to confirm your registration and sign in</h1>
</div>
<div style="padding-top:10px">
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
</div>
</div>
