<style>

  .hash-list-name {font-size: 14pt;margin-top:10pt; margin-left:10px;padding: 10px; font-weight: bold; }
  .section-header {width:500px;padding: 20px; font-size:48px;margin-bottom:20px;margin-top: 50px;}
    .note-box {padding: 5px; }
    .note-line {padding: 3px;}
    .folder-box {margin-bottom: 10px;}
    .list-item { margin-left:25px; padding: 5px; font-size:12pt;}
    .list-box {background-color: #f8f8ff; padding: 5px; margin-left:25px;}
</style>
<div style="font-size:36pt;margin:25px;font-weight:bold">Jamy Tarr Fall 2012  Summary</div>

<div style="font-size:24pt;margin:25px;padding-bottom:25px;padding-left: 10px">For Saturday, Jan 7, 2012</div>

<div style="margin: 25px;">

<div style="font-size:18pt;margin-left:5px;margin-bottom: 30px;">You worked on <a href="">18 notes</a> and <a href="">3 lists</a>.</div>

<div class="section-header">Notes you edited</div>
<div style="margin-left:20px; margin-top:10px;margin-bottom: 10px;">
  <div class="folder-box">
  <div style="font-size:18pt;padding:5px">Photoshoot </div>
  <div class="note-box">
  <div style="margin-left:20px;margin-bottom:10px;font-size:14pt;font-weight:bold">scott-sutherland</div>
      <div style="background-color:#f8f8ff; width:450px; padding:20px;margin-left:25px;font-size:12pt">
            <div class="note-line">Scott needs to pick some lighting.</div>
            <div class="note-line">something about photos and models</div>
      </div>
    <div style="margin-left:45px;color:gray;">62 lines changed at 1:32 PM</div>
   </div>
  <div class="note-box">
  <div style="margin-left:20px;margin-bottom:10px;font-size:14pt;font-weight:bold">Collette</div>
      <div style="background-color:#f8f8ff; width:450px; padding:20px;margin-left:25px;font-size:12pt">
            <div class="note-line">Why won't that bitch call me back</div>
      </div>
    <div style="margin-left:45px;color:gray;">62 lines changed at 1:32 PM</div>
   </div>
    </div>
   <div class="folder-box">
  <div style="font-size:18pt;padding:5px">Jeannette Inc</div>
 <div class="note-box">
  <div style="margin-left:20px;margin-bottom:10px;font-size:14pt;font-weight:bold">samples</div>
      <div style="background-color:#f8f8ff; width:450px; padding:20px;margin-left:25px;font-size:12pt">
            <div class="note-line">something about leather.</div>
      </div>
    <div style="margin-left:45px;color:gray;">62 lines changed at 1:32 PM</div>
   </div>
    </div> </div>


<div class="section-header">Lists you made</div>
<div style="margin-left:20px;margin-top:10px;margin-bottom:10px;">
<div class="hash-list-name">#TODO</div>
<div class="list-box">
<div class="list-item">Buy present for Delilah's friends party (in /Home/Delilah/party.txt)</div>
<div class="list-item">Put new registration sticker on car (in /Home/car.txt)</div>
  </div>

<div class="hash-list-name">#Thoughts</div>
  <div class="list-box">
<div class="list-item">Maybe I should use Adsense? (in /undo-project/marketing/revenue.txt)</div>
<div class="list-item">Reduce calories to 2000? (in /home/diet.txt)</div>
</div>

<div class="hash-list-name">#Milestone1</div>
  <div class="list-box">
<div class="list-item">SSL cert for Heroku</div>
  </div>
  </div>

</div>

