<div data-role="page" data-theme="d"  id="options">
  <div data-role="header">
    <h1>
      Options
    </h1>
  </div>
  <div data-theme="e"  data-role="navbar" >
    <ul>
     <li>
       <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
     </ul>
  </div>

</div>