<div class="container">
  <div class="row">
    <div class="span12 leader">
      <h1>Get feedback for work projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="span4 feature-box highlight-box">
      <h2>Better feedback</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Save time giving and receiving feedback</li>
          <li>Improve online communications</li>
          <li>Less face to face meetings</li>
        </ul>
      </div>
    </div>
    <div class="span4 feature-box highlight-box">
      <h2>Work together</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Easily manage groups</li>
          <li>Works with email</li>
        </ul>
      </div>
    </div>
    <div class="span4 feature-box highlight-box">
      <h2>Stay private</h2>
      <div class="feature-description">
        <ul class="feature-list">
          <li>Private space just for your team</li>
          <li>Keep company data in your control</li>
          <li>Company subdomain</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12 leader">
      <h2>Stay focused as a team</h2>
      <div class="row">
        <div class="explore-row"><a class="btn btn-success btn-large" href="/team_product_requests/new">starting at $19.95 / month</a></div>
      </div>
    </div>
  </div>
</div>
