<div class="btn-group editor">
<% if !@owned_by_user %>
    <% unless @user_copy.nil? %>
        <a href="<%=file_local_path(@user_copy)%>" class="btn" id="my-copy-button"><i class="icon-eye-open"></i> Your Version</a>
    <% else %>
          <a href="#" class="btn btn-success" id="suggest-button"><i class="icon-comment icon-white"></i> Suggest Change</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        More
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if signed_in?%>
        <li style="text-align: right"><%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>@file.path, :username=>current_user.username}, :method=>:post%></li>
        <li style="text-align: right"><a href="#"  id="copy-button" >Copy</a></li>
      <% end %>
      </ul>
    <% end%>

<% end %>
<% if @owned_by_user  %>
  <% if !@is_new_file%>
    <a href="#" class="btn btn-primary hide" id="edit-button">Save</a>
    <% unless @compare_file.nil? || @merge_error%>
      <a href="#" id="accept-button" class="btn btn-success"><i class="icon-indent-left icon-white"></i> Accept</a>
      <a href="<%=file_local_path(@file)%>" id="ignore-button" class="btn"><i class="icon-indent-left"></i> Ignore</a>
    <% end %>
    <% if @show_copy_button %>
      <a href="#" id="reply-button" class="btn btn-success"><i class="icon-share icon-white"></i> Reply</a>
    <% end%>
    <% if @show_edit_buttons %>
      <!--      <a href="#" id="share-button" class="btn btn-success"><i class="icon-share icon-white"></i> Share</a>-->
      <%= link_to "New Note", {:controller => "task_folder", :action=>"new_file", :path=>@file.path, :username=>current_user.username}, :method=>:post, :class=>"btn btn-success"%>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li style="text-align: right"><a href="#" id="move-button">Move</a></li>
        <li style="text-align: right"><a href="#"  id="copy-button" >Copy</a></li>
        <li style="text-align: right"><a href="#" id="delete-button">Delete</a></li>
      </ul>
    <% end %>
<% else %>
  <div class="new-mode-buttons">
  <a href="#" id="save-new" class="btn btn-primary">Save</a>
  </div>
<% end %>
<% end %>
</div>
