   <li class="undo-ul-li-heading"><a href><%=title%></a></li>
  <li class="undo-ul-li-desc">Yummy cookies</li>
  <li class="undo-ul-li-desc">15 mins</li>
  <li class="undo-ul-li-desc">Bakes 3 dozen</li>
  <li class="undo-ul-li-desc path">15 minutes ago in <a href>/recipes/cookies</a></li>
    <li class="undo-ul-li-desc">&nbsp;</li>
