<ul style="margin-left:0">
  <li class="undo-new-header"><%=link_to get_folder_name(folder_item), :controller => "task_folder", :action=>"folder_view", :username=>get_folder_username(folder_item), :path=>folder_item.second.first.path%></li>
  <% folder_item.second.sort_by{|a| a.revision_at}.reverse.each do |file| %>
    <%=render 'task_folder/note_item', :file=>file %>
  <% end %>
</ul>
