<div>
      <ul style="display: inline-block;margin-bottom: 0px;" class="nav nav-pills">
        <% @views.each do |view| %>
            <% if selected_view == view.id %>
            <li class="active">
            <% else %>
            <li>
            <% end %>
            <%= link_to view.name, {:controller => "task_folder", :action=>"folder_view", :path=>@path, :view=>view.querystring}%></li>
        <% end %>
      </ul>
</div>

