<ul style="margin-left:0">

  <li class="undo-ul-li-heading"><a href="/dougt/Undo-Project/Notes/20120121.txt">20120121.txt</a></li>
        <li class="undo-ul-li-desc">20120121
</li>
        <li class="undo-ul-li-desc">
</li>
        <li class="undo-ul-li-desc">Notes from last few nights
</li>
  <li class="undo-ul-li-heading"><a href="/dougt/notes/20120121-3.txt">20120121-3.txt</a></li>
        <li class="undo-ul-li-desc">Top tabs are:
</li>
        <li class="undo-ul-li-desc">Notes | Tasks | People | Agenda | Tags
</li>
        <li class="undo-ul-li-desc">Stuff for #alpha2
</li>
 </ul>