<% if !@is_new_file %>
  <% if params[:view].nil?%>
    <div class="right-rail-view" id="card-view">
      <% @cards.each do |card| %>
        <%=render 'snippet', :key=>card[:key], :group=>card[:files], :show_avatar=>false, :show_public_path=>show_public_path%>
      <% end %>
    </div>
  <% elsif params[:view] == "tasks" %>
    <div class="right-rail-view white-background" id="task-view">
      <%= render 'task_group', :group=>@tasks_grouped, :level=>0%>
    </div>
  <% elsif params[:view] == "events" %>
    <div class="right-rail-view white-background" id="event-view">
      <%= render 'event_group' %>
    </div>
  <% elsif params[:view] == "slides" %>
    <div class="right-rail-view" id="slide-view">
      <%= render 'slide_group' %>
    </div>
  <% end %>
<% end %>
<div class="slideshow">
  <div class="slideshow-foreground"></div>
</div>
