<h1><%=slide.sections.first.line_sections.first.text%></h1>
<%=image_tag slide.images.first, :class=>"thumbnail centered-slide"%>
<% unless slide.sections.second.nil?%>
<h2><%=slide.sections.second.line_sections.first.text%></h2>
<% end %>
