<h1><%=slide.sections.first.slide_contents.first.text %></h1>
<ul class="thumbnails" style="width:800px;margin: auto">
<% slide.images.each do |image| %>
<li style="width:200px;">
  <%=image_tag image, :class=>"thumbnail"%>
</li>
<% end %>
</ul>
