<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<% content_for :buttons do %>
    <% if user_signed_in? %>
    <%= button_to "New", {:controller => "task_folder", :action=>"new_file", :path=>(@path ||= '/'), :username=>current_user.username}, :class=>"btn primary"%>
    <% end %>
<% end %>
<h1 style="margin-top:5px;text-align:center;"><%=@header%></h1>
<div class="content">
  <div class="note-container">
    <%@changed_files_by_folder.each do |folder_item|%>
      <%= render 'task_folder/note_box_folder', :folder_item =>folder_item, :show_avatar=>show_avatar,:show_public_path=>show_public_path, :note_class=>note_class %>
     <% end %>
  </div>
</div>
<div style="clear:both"></div>
