<%= render 'pill_views', :selected_view => :events%>
<div>Mention dates in your notes, and they will show up here.  Ie., talk to Adam tomorrow at 5PM.</div>
<div>We will do our best to parse out what you mean.</div>
<div>This is not yet implemented.  </div>
