<%= render 'pill_views', :selected_view => :events%>
<ul class="feed-view" style="margin-left:0em;">
  <ul style="margin-left:0em;">
    <% @notes_by_date.each do |date, noteslist| %>
        <li class="undo-divider"><%=date%></li>
        <% noteslist.each do |note| %>
          <%=render 'event_note_item', :note => note%>
         <% end %>
     <% end %>
  </ul>
</ul>
