<%= render 'layouts/breadcrumb'%>
<h1>Home View</h1>
<div class="row">
  <div class="span6">
    <h2>You</h2>
    <%=link_to "Your Notes", :controller=>"task_folder", :action => "folder_view", :username=> current_user.username %>
  </div>
  <div class="span6">
    <h2>The World</h2>
  </div>

</div>
