<div class="container">
<div class="row leader">
<h1>Thanks for your interest in undo.io</h1>
</div>
<div>
  <h2>We will contact you about our new products soon.</h2>
  <h2>In the meantime, please try out <a href="/">undo.io for individuals</a></h2>
</div>
</div>
