<div class="container">
<div class="row leader">
<h1>undo.io For Teams is coming soon</h1>
</div>
<div>
<h2>If you are interested in purchasing,</h2>
<h2>please enter your email address and any feedback.</h2>
</div>
<%= render 'form' %>
</div>
