// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

BODY
{
padding-top: 60px;
}

.left-nav-section
{
    margin-bottom:1em;

}

.mobile-header
{
    display:none;
}

.section-contents LI
{
    padding-bottom: .3em;
}

UL.section-contents
{
    margin-bottom:0;
    padding-bottom: .3em;
}

@media (max-width: 480px){


    .breadcrumb
    {
        display:none;
    }
    .search-query
    {
        display:none;
    }

    .mobile-header
    {
        display:block;
        font-size:2em;
        font-weight:bold;
        text-align:left;
        margin:.2em;
        padding-bottom:.3em;
    }

    H1
    {
        display:none;
    }

}


  .history
  {
      list-style-type: none;
      margin-left:.1em;

  }

  .history LI
  {
      padding: .2em;
  }

  .history-name
  {
      font-weight: bold;
  }

  .history-divider
  {
      border-bottom: 1px solid #d3d3d3;
      clear:both;
      margin-bottom:1em;
  }

