// Place all the styles related to the task_folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  li.undo-divider
  {
      list-style: none;
      background-color: #5E87B0;
      text-shadow: 0 -1px 1px #254F7A;
      border: 1px solid #456F9A;
      padding: .5em 15px;
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin-top: 1em;
  }

  .undo-divider A:link, .undo-divider A:visited
  {
      color:white;
  }


  li.undo-ul-li-heading
  {
      list-style: none;
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        margin-top: .6em;
        margin-left: .6em;
        margin-bottom: .3em;
        text-overflow: ellipsis;
        overflow: hidden;
      padding-top:.5em;
        white-space: nowrap;
      border-top: solid #ccc 1px;
  }

  li.undo-ul-li-desc
  {
      color:#2F3E46;
      list-style: none;
        font-size: 1em;
        display: block;
        margin-top: 0em;
        margin-left: .8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
  }

  li.italics
  {
      font-style: italic;
      color:#808080;
      font-size: .9em;
  }

  .time-ago-in-words
  {
      font-style: italic;
      color:#808080;
      font-size: .9em;
  }

  li.path
  {
      float:right;
      margin-right:1em;
      font-size: .8em;
      display: inline-block;
  }

  #ace-editor
  {
      display: none;
      height:500px;
      position: relative;
  }

  li.more-changes
  {
      color: #808080;
      margin-left:2em;
  }

  .highlight
  {
      font-weight: bold;
  }

        .CodeMirror
        {
        }
         .CodeMirror-scroll
          {

               height: auto; overflow: visible;
              min-height: 300px;
          }
          span.cm-undo-date
          {
              padding-left:4px;
              color: orange;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;

          }

          span.cm-undo-task
          {

              color:green;
              cursor: pointer;
              cursor: hand;
              display:inline-block;

          }
          span.cm-undo-task-completed
          {
              text-decoration:line-through;
          }


          span.cm-undo-people
          {
              color: #8b4513;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;
          }
          span.cm-undo-link
          {
              color:blue;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;
          }
          span.cm-undo-tag
          {
              color:purple;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;
          }
          span.cm-undo-email
          {
              color:blue;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;
          }

      .fullscreen {
          display: block;
          position: absolute;
          background-color: white;
          top: 40px;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9999;
          margin: 0;
          padding: 0;
          border: 0px solid #BBBBBB;
          opacity: 1;
      }


.CodeMirror-completions {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}
.CodeMirror-completions select {
  background: #fafafa;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
     A.user-link:visited, A.user-link:link
     {
        color:green;
     }

     .inline-form
     {
        display:inline;
     }

             .CodeMirror-scroll
             {

                  height: auto; overflow: visible;
                 min-height: 300px;
             }
             span.cm-undo-people
             {
                 color: #8b4513;
                 text-decoration: underline;
                 cursor: pointer;
                 cursor: hand;
             }
             span.cm-undo-link
             {
                 color:blue;
                 text-decoration: underline;
                 cursor: pointer;
                 cursor: hand;

             }
             span.cm-undo-tag
             {
                 color:purple;
                 text-decoration: underline;
                 cursor: pointer;
                 cursor: hand;
             }

         .fullscreen {
             display: block;
             position: absolute;
             background-color: white;
             top: 40px;
             left: 0;
             width: 100%;
             height: 100%;
             z-index: 9999;
             margin: 0;
             padding: 0;
             border: 0px solid #BBBBBB;
             opacity: 1;
         }


    .slideshow
    {
         display:none;
         background-color:gray;
         top: 0;
         left: 0;
         width:100%;
         height:100%;
         z-index:9999;
         position:absolute;


    }
    .slideshow-foreground
    {
        background-color:white;
        width:900px;
        height:600px;
        background-color:white;
        border: solid black 1px;
        position:relative;
    }

    .slide
    {
        display:none;
        min-height:400px;
        overflow:hidden;
        min-width:500px;
        margin:1em;
    }

    .slideshow-nav
    {
        position:absolute;
        bottom:0;
        size:2em;
        font-weight:bold;
        text-align:center;
        width:100%;
        margin-bottom:1em;
    }

    .slideshow IMG
    {
        text-align:center;
    }

    .slide-button
    {
        margin: 0px auto;
        width:100px;
        font-size:2em;

    }

    .slideshow H1
    {
        text-align:center;
        font-size:3em;
        margin:1em;
    }

    .slideshow H2
    {
    }

    .headline
    {
        text-align:center;
    }

    .headline H1
    {
        text-align:center;
        font-size:3em;
        margin-top:5em;
    }

    .headline H2
    {

        font-size:2em;

    }

    .headline H3
    {
        font-size:1em;

    }


    .centered-slide
    {
        margin:0px auto;
    }

    .single_pic IMG
    {
        max-width:500px;
    }

    .single_pic H2
    {
        text-align:center;
    }


     .note H1
      {
          margin-left:0em;
      }

    .note H2
    {
        margin-left:1em;
    }


    .note H3
    {
        margin-left:2em;
    }

    .note H4
    {
        margin-left:3em;
    }

    .note H5
    {
        margin-left:4em;
    }

    .note H6
    {
        margin-left:5em;
    }

    .note DIV
    {
        margin-left:6em;
    }