// Place all the styles related to the task_folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timebox
{
    float:left;
    background-color:#add8e6;
    margin :1px;
    height:30px;

}
.timebox:hover
{
    cursor:hand;
    cursor: pointer;

}
.timeline
{
    width:3000px;
    padding-left:20px;
}

.filename
{
    background-color:#fafad2;
    padding:15px;
}

.task-line
{
    padding-top:10px;
    padding-bottom:10px;
    font-size:14pt;
}
