// Place all the styles related to the task_folder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  li.undo-divider
  {
      list-style: none;
      background-color: #5E87B0;
      text-shadow: 0 -1px 1px #254F7A;
      border: 1px solid #456F9A;
      padding: .5em 15px;
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin-top: 1em;
  }

  .undo-divider A:link, .undo-divider A:visited
  {
      color:white;
  }


  li.undo-ul-li-heading
  {
      list-style: none;
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        margin-top: .6em;
        margin-left: .6em;
        margin-bottom: .3em;
        text-overflow: ellipsis;
        overflow: hidden;
      padding-top:.5em;
        white-space: nowrap;
      border-top: solid #ccc 1px;
  }

  li.undo-ul-li-desc
  {
      color:#2F3E46;
      list-style: none;
        font-size: 1em;
        display: block;
        margin-top: 0em;
        margin-left: .8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
  }

  li.italics
  {
      font-style: italic;
      color:#808080;
      font-size: .9em;
  }

  .time-ago-in-words
  {
      font-style: italic;
      color:#808080;
      font-size: .9em;
  }

  li.path
  {
      float:right;
      margin-right:1em;
      font-size: .8em;
      display: inline-block;
  }

  #ace-editor
  {
      display: none;
      height:500px;
      position: relative;
  }

  li.more-changes
  {
      color: #808080;
      margin-left:2em;
  }

  .highlight
  {
      font-weight: bold;
  }

        .CodeMirror
        {
        }
         .CodeMirror-scroll
          {

               height: auto; overflow: visible;
              min-height: 300px;
          }
          span.cm-undo-date
          {
              padding-left:4px;
              color: orange;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;

          }
          span.cm-undo-task
          {
              padding:1px;
              color:green;
              font-weight:bold;
              cursor: pointer;
              cursor: hand;

          }
          span.cm-undo-people
          {
              color: #8b4513;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;
          }
          span.cm-undo-link
          {
              color:blue;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;

          }
          span.cm-undo-tag
          {
              color:purple;
              text-decoration: underline;
              cursor: pointer;
              cursor: hand;
          }

      .fullscreen {
          display: block;
          position: absolute;
          background-color: white;
          top: 40px;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9999;
          margin: 0;
          padding: 0;
          border: 0px solid #BBBBBB;
          opacity: 1;
      }


.CodeMirror-completions {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}
.CodeMirror-completions select {
  background: #fafafa;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
     A.user-link:visited, A.user-link:link
     {
        color:green;
     }

     .inline-form
     {
        display:inline;
     }

             .CodeMirror-scroll
             {

                  height: auto; overflow: visible;
                 min-height: 300px;
             }
             span.cm-undo-people
             {
                 color: #8b4513;
                 text-decoration: underline;
                 cursor: pointer;
                 cursor: hand;
             }
             span.cm-undo-link
             {
                 color:blue;
                 text-decoration: underline;
                 cursor: pointer;
                 cursor: hand;

             }
             span.cm-undo-tag
             {
                 color:purple;
                 text-decoration: underline;
                 cursor: pointer;
                 cursor: hand;
             }

         .fullscreen {
             display: block;
             position: absolute;
             background-color: white;
             top: 40px;
             left: 0;
             width: 100%;
             height: 100%;
             z-index: 9999;
             margin: 0;
             padding: 0;
             border: 0px solid #BBBBBB;
             opacity: 1;
         }



/*
    .icon-image
    {
        width:40px;
    }

.timebox
{
    float:left;
    background-color:#add8e6;
    margin :1px;
    height:30px;

}
.timebox:hover
{
    cursor:hand;
    cursor: pointer;

}
.timeline
{
    width:3000px;
    padding-left:20px;
}

.filename
{
    padding:15px;
}

.task-line
{
    padding-top:3px;
    padding-bottom:3px;
    font-size:12pt;
}

  .header-path, .header-path A:link, .header-path A:visited
  {
      font-size:24pt;
      margin-left:5pt;
      margin-bottom:5pt;

  }
    .column
    {
        float:left;
    }

    .file-column
    {
        float:left;
    }

    .viewer-column
    {
        float:left;
    }


  .explorer
  {
      width:30em;
      overflow: hidden;
      float:left;
  }

  .box-header
  {
      font-size: 1.5em;

  }
        .box2
        {
              width:25em;
              margin: 10px;
              padding: 0px;
              overflow-x:hidden;
              overflow-y : auto;

        }

    .file-line
    {

        padding: 5px;
        font-size: 1.3em;
    }

      .summary-content
      {
          padding: 1em;
          width:50em;
      }


        .contents
        {
            display: block;
            margin: 10px;
            border:  solid 1px #d3d3d3;
            width: 100%;
            min-width: 70em;
            min-height: 40em;
        }

        .change-foldername
        {
            font-size: 1em;
            padding:  .5em;
        }

        .change-file LI
        {
            font-size: 1.3em;
        }
        .change-filename
        {
            font-size: 1.2em;
            margin-left: 1.5em;
            margin-right: 1em;
            margin-bottom: 0;
        }

        .change-line-count
        {
            font-style: italic;
            color: gray;
        }

        .change-file UL
        {
            list-style-type: none;
        }


        .file-header
        {
            background-color: #dcdcdc;
            padding: 1.5em;

        }

        .file-header-name
        {
            text-align: center;
            margin:  0 auto;
            font-size: 1.5em;
        }

        .file-actions
        {
            float:right;
            display: inline-block;
        }

        .time-range
        {
            float:left;
            padding: 1em;
            margin: .2em;
        }

        .time-filter
        {
            float: none;
            overflow: hidden;
        }

        .ace-editor {
            width:100%;
            height:100%;
            display: none;
    }

    .task-item
    {
        margin-left:3em;

    }

    .task-title
    {

        margin-left:1.5em;
        font-size:1.5em;
    }

    TABLE.summary-table
    {
        width:70em;
        margin: 2em;

    }

    .summary-table TH
    {
        text-align:left;
    }

    .summary-table TD
    {
        vertical-align:top;
        padding-top:1em;
        padding-bottom:1em;
        border-bottom: solid lightgray 1px;
        margin:0;
        font-size:1.2em;
    }

    .summary-table TR
    {

    }


  */